@import url("normalize.css");
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\000032}}
html {
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(top, #023e54, #10aac0);
  min-height: 100%;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\000038}}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000313}}
a {
  text-decoration: none;
  color: #666; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000317}}
nav * {
  display: inline-block;
  margin-right: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000321}}
.chart {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 24px auto 0 auto;
  position: relative;
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000327}}
  .chart .y {
    position: absolute;
    padding: 5px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000334}}
  .chart .x {
    position: absolute;
    width: 100%;
    padding: 5px;
    top: 110%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000340}}
  .chart .bar {
    background: #9351a6;
    position: absolute;
    bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000345}}
  .chart .bar:nth-of-type(even) {
    background: #be4c39; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000348}}
  .chart .label {
    position: absolute;
    bottom: -30px;
    font-size: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000354}}
nav {
  width: 100%;
  background: #efc94c; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000358}}
form {
  width: 80%;
  background: #fcf4dc;
  min-width: 310px;
  max-width: 700px;
  padding: 10px 20px;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  opacity: .95; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000370}}
  form input {
    display: block;
    width: 90%;
    margin: 20px;
    padding: 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000376}}
  form button {
    display: inline-block;
    background: #14566a;
    color: #fff;
    margin: 0 auto;
    padding: 6px 12px;
    border-radius: 6px;
    border: 3px solid #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/havilez\/Sites\/Mean-Stack-Dev\/mean-session9done-master\/css\/graphstyles\.scss}line{font-family:\0000387}}
.chart {
  color: #fff; }

/*# sourceMappingURL=graphstyles.css.map */
